/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
.section-padding{
   -webkit-background-size: cover;
   background-position: center;
   background-size: cover;
   background-position: center;
   background-color: #ddd;
   border-bottom: 15px solid #B8D32F;
   overflow-x: hidden;
}
.zigzag-text-bg-1{
    background-image: url("../img/36.jpg");
}
.zigzag-text-bg-2{
    background-image: url("../img/40.jpg");
}
.zigzag-text{
    position: relative;
    z-index: 2;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    font-size: 15px;
}
.zigzag-text h2{
  font-weight: 400;
}
.zigzag-text:after {
    position: absolute;
    content: "";
    top: 0;
    left: -4894%;
    width: 5000%;
    height: 100%;
    background: #042352;
    z-index: -1;
    transform: skew(13deg);
}
.boxed-btn {
    display: inline-block;
    background: #BAD432;
    color: #fff;
    padding: 7px 20px;
    border-bottom: 2px solid #FFF;
    border-radius: 6px;
    transition: .3s;
}
.boxed-btn:hover{
  background: #333;
  color: #fff;
}
.zigzag-text .boxed-btn {
    margin-top: 22px;
}

.zigzag-text-bg-2 .zigzag-text:after {
    left: auto;
    right: -4894%;
    background: #00CCCD;
}

.zigzag-text-bg-2 .zigzag-text {
    padding-right: 0;
    padding-left: 50px;
}

.section-padding.zigzag-text-bg-2 {
    border-bottom: none;
}