
/* Base CSS */
.alignleft{
    float: left;
    margin-right: 15px;
}

.alignright{
    float: right;
    margin-left: 15px;
}

.aligncenter{
    display: block;
    margin: 0 auto 15px;
}

a:focus{ 
    outline: 0 solid 
}

img{
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body{

}

a:hover{ 
    text-decoration: none
}
.section-padding{
    padding: 80px 0;
}
.service-bg img{
    width: 100%;
    height: 240px;
    transition: opacity .3s linear;
}

.single-service-item{
    display: block;
    box-shadow: 0 0 8px #ddd;
    margin-bottom: 30px;
}
.single-service-item:hover img{
    opacity: .8
}

.single-service-item h2{
    background-color: #6F0907;
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 15px;
    text-align: center;
}
.fake-service{
    position: relative;
}

.fake-service .service-bg,
.fake-service h2{
    opacity: 0;
}

.service-cta{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.service-cta-inner{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #094F83;
    color: #fff;
}

.service-cta-tablecall{
    text-align: center;
    width: 100%;
}

.cta-btn{
    display: inline-block;
    background: #E0A444;
    color: #fff;
    padding: 9px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: .5s;
}
.service-cta .cta-btn:hover {
    background: transparent;
    color: #fff;
    border: 1px solid;
}
.service-cta-tablecall p {
    font-size: 15px;
    margin: 0px;
    font-weight: 600;
    text-transform: capitalize;
}

.service-cta-tablecall .call{
    font-weight: 900;
    font-size: 30px;
}